<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" type="image/x-icon" href="https://unpkg.byted-static.com/latest/byted/arco-config/assets/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Arco Design Pro - 开箱即用的中台前端/设计解决方案</title>
    <script src="https://unpkg.byted-static.com/latest/byted/arco-config/index.js"></script>
    <link id="arco-css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@arco-design/web-vue@2.18.0/dist/arco.min.css"/>
    <link id="pro-custom-theme" href="https://cdn.jsdelivr.net/npm/@arco-themes/vue-arco-pro@0.0.1/css/arco.css" type="text/css"
      rel="stylesheet" crossorigin="anonymous">
    <%- teaRun %>
    <%- teaScript %>
  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
